

.mainBox{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: wheat;
}

.header {
    box-shadow: 0 0 6px hsl(210 14% 90%);
    background-color: wheat;
    border: 2px solid rgba(255,255,255,0.2);
    position: absolute;
    border-radius: 0px,
}

.sideBarDashboard {
    box-shadow: 0 0 6px rgb(56, 57, 57);
    border: 2px solid rgba(255,255,255,0.2);
    height: 100%;
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.main {
    height: 100%;
    width: inherit; 
    position: absolute;
    padding-right: 100px;
}

.link {
    text-decoration: none;
    padding: 15px 0 15px 40px;
    color: white;
    font-weight: bold;
}

.link:hover {
    background-color: black;
    color: rgb(228, 126, 3);
    cursor: pointer;
}

.logout {
    text-decoration: none;
    color: white;
    font-weight: bold;  
}

.logout:hover {
    color: black;
}

.search {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.table {
    background-color: wheat;
    border: 2px solid rgba(130, 122, 115, 0.2);
    box-shadow: 0 2px 6px rgb(34, 35, 35);
}

