

.mainBox{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: wheat;
}

.sideBarDashboard {
    box-shadow: 0 0 6px rgb(56, 57, 57);
    border: 2px solid rgba(255,255,255,0.2);
    height: 100%;
    position: absolute;
    width: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.header {
    box-shadow: 0 0 6px hsl(210 14% 90%);
    background-color: wheat;
    border: 2px solid rgba(255,255,255,0.2);
    position: absolute;
    border-radius: 0px,
}

.link {
    text-decoration: none;
    width: 100%;
    margin: 10px;
    color: white;
    font-weight: bold;
}

.Link:hover {
    background-color: black;
}


